*{
    padding: 0;
    margin: 0;
}
header,main,footer,nav,section{
    display: block;
}
a{
    text-decoration: none;
    color: #000000;
}
#wrapper{
    width: 100%;
    margin:0 auto;
}
span{
    display: block;
}
nav{
    height: 123px;
    width: 100%;
    background-color: #f2e9e9;
}
ul{
    padding-left: 575px;
    padding-top: 52px;
    width: 291px;
    display: flex;
    flex-direction: row;
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #000000;

}
li>span{
    left: 595px;
    top: 34px;
    position: absolute;
    background-color:#F72828;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

li{
    list-style-type: none;
    margin-right: 17px;
}
#mix-frame{
    margin-top:91px;
    margin-left: 244px;
    margin-bottom: 145px;
    width: 881px;
    height: 624px;
    display: flex;
    flex-direction: row;
}
#section-mix{
    margin-top: 176px;
}
#mix-title{
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 96px;
    color: #000000;    
}
#mix-text{
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}
#recs{
    width: 437px;
    height: 624px;
    margin-left: 70px;
    position: relative;
}
#recs div{
    position: absolute;
    background-color:#EBEF18;
}
#rec1{
    top:44px;
    height: 23px;
    width: 75px;
}
#rec2{
    height: 46px;
    width: 136px;
    top: 75px;
}
#rec3{
    height: 404px;
    width: 134px;
    top: 132px;
}
#rec4{
    height: 28px;
    width: 88px;
    top: 547px;
}
#rec5{
    height: 26px;
    width: 25px;
    top: 582px;
}
#rec6{
    height: 26px;
    width: 25px;
    left: 32px;
    top: 582px;
}
#rec7{
    height: 352px;
    width: 246px;
    left: 149px;
    top: 44px;
}
#rec8{
    height: 212px;
    width: 123px;
    left: 149px;
    top: 412px;
}
#rec9{
    height: 105px;
    width: 55px;
    left: 286px;
    top: 412px;
}
#rec10{
    height: 58px;
    width: 110px;
    left: 286px;
    top: 524px;
}
#rec11{
    height: 105px;
    width: 55px;
    left: 382px;
    top: 412px;
}
#rec12{
    height: 198px;
    width: 28px;
    left: 409px;
    top: 198px;
}
#rec13{
    height: 55px;
    width: 28px;
    left: 409px;
    top: 132px;
}
#rec14{
    height: 55px;
    width: 28px;
    left: 409px;
    top: 66px;
}
#rec15{
    height: 55px;
    width: 28px;
    left: 409px;
    top: 0px;
}
footer{
    height: 41px;
    width: 100%;
    background-color: #000000;
}
